.article {
	overflow: hidden;
	a {
	text-decoration: none;
	color: #000;
		&:hover {
			color: #7a0414;
		}

	}
	.articlepicture {
		.caption {
			background: $default-background;
			padding: 5px;
		}

	}
	.summary {
		font-weight: bold;
		margin-bottom: 20px;
	}
	.paragraph {
		margin-bottom: 20px;
		.picture {
			width: 200px;
			&.fl {
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
			}	
			&.fr {
				float: right;
				margin-left: 10px;
				margin-bottom: 10px;
			}
			.caption {
				background: $default-background;
				padding: 5px;						
			}
		}
		.facts {
			width: 200px;
			&.fl {
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
			}	
			&.fr {
				float: right;
				margin-left: 10px;
				margin-bottom: 10px;
			}
		}
		
	}
	.byline {
		margin-bottom: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid $default-bordercolor;
		a {
			color: #7a0414;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.facts {
		background: $default-background;
		padding: 5px;				
	}
}