@import "partials/base";
// Generate the blueprint framework according to your configuration:
#main
{

	background-color: #f3f3f3;
	width: 940px;
	margin-right:  auto; 
	margin-left:  auto; 

}

.container {
	
	
	/* @include showgrid("grid.png");*/
	.header {
		/* background-image:image-url("header_bgimg.jpg");
		height: image-height("header_bgimg.jpg"); */
		@include sprite-background("header_bgimg.jpg",image-width("header_bgimg.jpg"),image-height("header_bgimg.jpg"));

		img {
			float: left;
			padding-left: 10px;
			padding-top: 6px;

		}
		.topmenu {
			margin-top: 3px;
			@include column(8);
			float: right;	
			ul {
				@include horizontal-list(5px,right);
			}
			a {
				color: $topmenu-linkcolor;
				font-size: $topmenu-linksize;
				text-decoration: none;
				text-transform: uppercase;
			}
			a:hover 
			{
				text-decoration: underline;
			}
		}
	}

	.main {
		@include column(16,true);
	}
	
	hr {
		@include colruler(#b1b1b1);
		margin-bottom: 4px;
	}
	.column-1-2-3-4 {
		@include column(16,true);
		background-image: image-url("content_vertical_separator.png");
		background-repeat: no-repeat;
		display: block;
		overflow: hidden;
		&.nobackground {
			background-image: none;
		}
	}
	.column-1-2-3 {
		@include column(12);
	}
	.column-1-2 {
		@include column(8);
	}
	.column-3-4 {
		@include column(8,true);
	}
	.column-1 {
		@include column(4);
		&.last {
			margin-right: 0px;
		}
	}
	.column-2 {
		@include column(4);
	}
	.column-3 {
		@include column(4);
	}
	.column-4 {
		@include column(4,true);
	}

	.content {
		padding: 10px 10px 10px 10px;
		p {
			clear: both;
		}
		h1 {
			color: #7a0414;
			font-weight: bold;
		}
		h2 {
			color: #7a0414;
			font-weight: bold;
		}	
		h3 {
			color: #7a0414;
			font-weight: bold;
		}
		img {
			
			&.fl {
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
			}	
			&.fr {
				float: right;
				margin-left: 10px;
				margin-bottom: 10px;
			}
		}
		.links {
			margin-bottom: 20px;
			ul {
				@include pretty-bullets("bullet-arrow.png", 8px, 8px, 30px, 20px);
				padding: 0px;
				margin: 0px;
				li {
					border-bottom: 1px solid #7a0414;
					padding-bottom: 5px;
					padding-top: 5px;
				}
			}
			a {
			text-decoration: none;
			color: #000;
				&:hover {
					color: #7a0414;
				}

			}
			h3 {
				margin-bottom: 0px;
			}
		}
		
		.articlelist {
			display: block;
			overflow: hidden;
			margin-bottom: 10px;
			h2 {
				margin-bottom: 0px;
				clear: both;
			}
			a {
				color: #7a0414;
			}
			p {
				margin-bottom: 0px;
			}
		}
	}

}

